# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints

# no figures
*.pdf

# no Mac dir files
*.DS_Store

# no data or figures
data/
results/*
!results/main_figures_data
results/main_figures_data/linkage/sscs_*.dat
results/main_figures_data/pdist_array.dat
figures/

scripts/make_talk_figures.py
